input {
  margin: 4px;
  padding: 4px 18px;
}



.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  align-items: center;
  background: rgba(250, 250, 246, 0.2);
  color: white;
  margin: 10px;
  padding: 40px;
}

button {
  width: 60%;
  margin: 14px;
}

@media only screen and (max-width: 740px) {

  .loginForm {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .formInput {
    width: 70%;
  }
}
