

.navLink {
  color: white;
  cursor: pointer;
  text-decoration: none;
  flex: 1;
  
}




.navLink:hover {
  text-shadow: 0px 0px 22px white;
  text-decoration: underline;
}




@media only screen and (max-width: 600px) {
 
  .navLink {
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px silver;
    padding: 4px;
    margin: 14px;
    transition-duration: 500ms;             
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: #000000e6;
  }

  .navLink:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.517) inset;
    background: #323131e6;
  }
  
}

@media only screen and (max-height: 400px) {
 
  .navLink {
    margin: 10px;
  }
  
}

