.Navbar {
  display: flex;
  width: 80%;
  padding: 14px;
  justify-content: space-evenly;
  
  margin: 0 4px 0 4px;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0 0 15px grey;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  height: 40px;

}


.logoutButton {
  background:none!important;
  color:rgb(91, 42, 131);
  border:none; 
  padding:0!important;
  font: inherit;
  /* display: inline-flex;
  align-items: flex-start; */
  text-decoration: underline;
  cursor: pointer;
  }



  